{{ if (lookPath "pants") -}}
#!/bin/bash
# Description: Generate pants completions

# Ensure the directory exists
mkdir -p "$HOME/.zfunc"
OUT="$HOME/.zfunc/_pants"

# TODO: can't run this outside of a pants project directory
#echo "Re-generating pants completions..."
#pants completion > "$OUT"
{{- end }}
