{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env zsh
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Install Homebrew if it's missing
if ! command -v brew &> /dev/null; then
    echo "Installing Homebrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Install dependencies from Homebrew
echo "Installing Homebrew dependencies..."
HOMEBREW_BUNDLE_NO_LOCK=1 HOMEBREW_NO_AUTO_UPDATE=1 brew bundle --verbose --file=- <<EOF
# Taps
tap "pantsbuild/tap"

# Mandatory brews
brew "neovim"

# User-selected brews
{{- range .brew_tools }}
brew "{{ . }}"
{{- end }}

# Mandatory casks
cask "font-fira-code-nerd-font"
cask "{{ .terminal_app }}"

# User-selected casks
{{- range .brew_casks }}
cask "{{ . }}"
{{- end }}
EOF

{{- end -}} {{/* end if eq .chezmoi.os "darwin" */}}
