alias makemelaugh='curl -s -H "Accept: text/plain" https://icanhazdadjoke.com/ | cowsay -r'
alias whatsmyip='dig -4 TXT +short o-o.myaddr.l.google.com @ns1.google.com'
alias shrug='echo "¯\_(ツ)_/¯" | pbcopy'
alias dc='docker-compose'

alias dockermop='docker rmi $(docker images -f dangling=true -q)'
alias gtree='git log --all --graph --decorate --oneline'

alias newssl='openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout server.key -out server.crt -subj "/CN=localhost"'
alias devsync='git pull origin develop'
alias tf='terraform'
alias tfmt='terraform fmt -recursive'

alias urldecode='python3 -c "import sys, urllib.parse as ul; print(ul.unquote_plus(sys.argv[1]))"'

alias uuid='uuidgen | tr "[:upper:]" "[:lower:]"'
alias k='kubectl'
