# .function - Shell Functions

function dockerstopall() {
  docker stop $(docker ps -aq)
}

function dockerpruneall() {
  docker ps -q | xargs docker stop ; docker system prune -a
}

# Clears local machine's DNS cache, useful when testing DNS records
function cleardns() {
  sudo killall -HUP mDNSResponder
}

# Downloads the server certificate of a given address
# Usage: getcert HOST:PORT
function getcert() {
  echo -n | openssl s_client -connect $1 | openssl x509
}

# Converts an epoch to human-readable time
# Usage: epoch-str 1617235200
function epoch-str() {
  date -r $1 '+%Y-%m-%d %H:%M:%S'
}

function lowercase() {
  echo $1 | awk '{print tolower($0)}'
}

function uppercase() {
  echo $1 | awk '{print toupper($0)}'
}

function last-hash() {
  git log --abbrev-commit | head -n 1 | awk '{print $NF}'
}

